#root {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  list-style: none; 
}

.Navbar{
  height: 60px;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 21rem;
  padding: 0.4rem 0.4rem;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0.5rem;
}
.links li a:hover{
  background:black;
  color: white;
  border-radius: 0.4rem;
}

.login{
  height: 36px;
  width: 78px;
  background-color: rgb(162, 32, 32);
  color:white;
  font-size: 16px;
  border: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.login:hover{
  background-color: rgb(142, 27, 27);
}
