#root {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  list-style: none; 
}

.Navbar{
  height: 60px;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 21rem;
  padding: 0.4rem 0.4rem;
  width: 100%;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0.5rem;
}
.links li a:hover{
  background:black;
  color: white;
  border-radius: 0.4rem;
}

.login{
  height: 40px;
  width: 78px;
  background-color: rgb(194, 44, 44);
  color:white;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.login:hover{
  background-color: rgb(142, 27, 27);
}


.main{
  height:calc(100vh - 60px);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid green; */
  padding: 0.4rem 0.8rem;
}


.leftbox{
  height: 100%;
  width: 50%;
  /* border: 2px solid green; */
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.leftbox h1{
  font-size: 105px;
  line-height: 6.2rem;
  text-transform: uppercase;
  font-weight: 1000;
  /* text-align: center; */
  /* border: 2px solid gray; */
  /* width: 100%; */
}
.ptbn{
  /* border: 2px solid gray; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  padding: 0.4rem 0.4rem;
  
}
.ptbn p{
  width: 100%;
  line-height: 1.5rem;
}
.rightbox{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid green; */
}
.rightbox img{
  height: 40rem;
  filter: drop-shadow(0px 40px 8px gray);
}


.btns{
  display:flex;
  gap: 1rem;
  padding: 0.2rem 0.3rem;
}
.btns button{
  height: 40px;
  width: 150px;
  font-size: 20px;
}

#btn1{
  background-color: rgb(194, 44, 44);
  border: none;
  border-radius: 0.3rem;
}
#btn1:hover{
  background-color: rgb(142, 27, 27);
}

#btn2{
  background-color: transparent;
  color: black;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 0.3rem;
}
#btn2:hover{
  background-color: rgb(221, 214, 214);
}

.sellers{
  margin-top: 2rem;
  /* border: 2px solid gray; */
  padding: 0.3rem 0.3rem;
  width: 50%;
}
.sellers p{
  font-size: 18px;
}
.sellers img{
  margin:auto 0;
}





@media screen and (max-width:1326px) {
  .Navbar{
    gap:15rem;
  }
  .main{
    flex-direction: column;
    height: 100%;
    gap: 8rem;
  }
  .leftbox{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .btns{
    justify-content: center;
    align-items: center;
  }
  .rightbox{
    width: 100%;
  }
  .rightbox img{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:1120px) {
  .Navbar{
    gap: 8rem;
  }
}

@media screen and (max-width:900px){
  .links{
    display: none;
  }

}

@media  screen and (max-width:470px) {
  .leftbox h1{
    font-size: 22vw;
    line-height: 6.2rem;
  }
  .btns{
    flex-direction: column;
  }
}

@media  screen and (max-width:350px) {
  .Navbar{
    gap: 4rem;
  }
  .btns{
    flex-direction: column;
  }
}

@media  screen and (max-width:260px) {
  .Navbar{
    gap: 2rem;
  }
}