*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_Container{
    border: 2px solid green;
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 0.4rem;
}

.left{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem 0.3rem;
}
.left button{
    margin-left: 1rem;
    width: 120px;
    height: 40px;
    background-color: rgb(113, 7, 7);
    color: white;
    border: none;
    border-radius: 5px;
}
.left button:active{
    background-color: rgb(84, 4, 4);
}
.right{
    background-color: white;
    height:50%;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem 0.3rem;
}
.right h1{
    color:black;
    font-weight: bold;
}
.text-input{
    height: 100%;
    width: 100%;
    padding:1rem 1rem;
    resize:none;
}